@import url(./global.css);

nav {
    align-items: center;
    margin: 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5em;
    color: var(--text1);
    text-transform: uppercase;
}
nav li {
    margin: 0 1.5em;
    display: inline;
}
nav li a {
    font-size: 0.75rem;
}
nav a {
    font-family: 'Inter', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
}

nav ul .menu-icon {
    display: none;
}
.menu-mobile {
    display: none;
}
.menu-icon button {
    border: none;
    background: none;
    color: var(--text1);
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.75rem;
    background: var(--button);
}

::-webkit-scrollbar-track {
    border-radius: 0.75rem;
    background-color: var(--text1);
}

body
    div:where(.swal2-container)
    button:where(.swal2-styled).swal2-confirm:focus-visible {
    box-shadow: none;
}

main {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

main .banner {
    width: 50%;
    min-width: 580px;
}

main .banner img {
    max-width: 100%;
    height: auto;
}

main .form-content {
    flex-grow: 1;
    padding: 1.75rem 2rem 1.75rem 0;
    max-width: 1000px;
}

main .form-content header {
    margin-bottom: 2.5rem;
}

main .form-content header h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

main label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

main input {
    width: 100%;
    padding: 1.25rem;
    outline: 0;
    background-color: transparent;
    color: var(--text1);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    transition: 250ms;
    border-radius: 0.5rem;
    border: 2.48px solid var(--text1);
}

main input:focus {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-color: var(--button);
}

main input#confirmar-senha {
    padding-right: 2.75rem;
}

main div:has(> input#confirmar-senha) {
    padding: 0;
    position: relative;
}

main div:has(> input#confirmar-senha) svg {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    display: none;
}

main div:has(> input#confirmar-senha) svg.fa-circle-xmark {
    color: var(--invalid);
}

main div:has(> input#confirmar-senha) svg.fa-circle-check {
    color: var(--valid);
}

main fieldset {
    margin-top: 1.5rem;
    border: none;
}

main .form-content .password-content {
    display: flex;
    gap: 1.5rem;
}

main .form-content .password-content fieldset {
    flex-grow: 1;
}

main .form-content .password-content fieldset .requisitos {
    margin-top: 0.5rem;
}

main .form-content .password-content fieldset .requisitos p {
    font-size: 0.85rem;
}

main .form-content .password-content fieldset .requisitos p:not(p:first-child) {
    margin-top: 0.45rem;
}

main .form-content .password-content fieldset .requisitos p.valid {
    color: var(--valid);
}

main .form-content .password-content fieldset .requisitos p.invalid {
    color: var(--invalid);
}

main .form-content button[type='button'] {
    width: 100%;
    margin-top: 1.75rem;
    background-color: var(--button);
    color: var(--text1);
    padding: 1.25rem;
    border: none;
    border-radius: 0.4rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: 250ms;
    font-size: 1.25rem;
    font-weight: bold;
}

main .form-content button[type='button']:hover {
    transform: scale(1.05);
    background-color: #ff9382;
}

main .form-content button[type='button'] + p {
    text-align: center;
    margin-top: 1rem;
}

main .form-content button[type='button'] + p a {
    color: var(--link);
    text-decoration: underline;
}

div.footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.footer a {
    font-size: 0.75rem;
    color: #4d4d4d;
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }
}

@media screen and (max-width: 960px) {
    .banner {
        display: none;
    }

    main .form-content {
        padding: 1.75rem;
    }
}

@media screen and (max-width: 880px) {
    nav ul .menu-icon {
        display: block;
    }
    nav ul button {
        cursor: pointer;
    }
    nav ul li {
        display: none;
    }
    nav {
        align-items: center;
    }
    .menu-mobile {
        background-color: rgba(255, 255, 255, 0.041);
        /* position: absolute;
        right: 0;
        top: 7rem; */
        margin-top: 2rem;
        padding: 2rem 5rem;
    }
    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-mobile li {
        margin: 1.5rem 0;
        display: block;
    }
    .menu-mobile a {
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--text1);
    }
    .menu-mobile a.vermelho {
        color: var(--button);
    }
    .abrir {
        display: block;
    }
    .subir {
        width: 6rem;
        height: 6rem;
        right: 1.5%;
        bottom: 3rem;
    }
}

@media screen and (max-width: 480px) {
    main .form-content .password-content {
        flex-direction: column;
    }
}
