@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    font-family: 'Inter', sans-serif;
    color: #fff;
}

body div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: var(--button);
}

body div:where(.swal2-container) div:where(.swal2-popup) {
    color: var(--text1);
    background-color: var(--black);
    border: 3px solid var(--button);
}
