:root {
    --link: #0070C9;
    --black: #171717;
    --text1: #fafaf9;
    --text2: #efede8;
    --button: #e6533c;
    --shape1: #ef8964;
    --shape2: #303030;
    --shape3: #7a29dc;
    --shapeSecondary1: #323443;
    --shapeSecondary2: #232532;
    --shapeSecondary3: #323443;
    --shapeSecondary4: #4f5261;
    --invalid: #ff3e3e;
    --valid: #63ff63;
}
